* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: aliceblue;
    background: linear-gradient(-90deg, #9e52e0d6, #a008bb, #5b69e5, #5b69e5);
    background-size: 100% 100%;
    animation: gradient 10s infinite;
    background-position: center center;
    background-size: 200% 200%;
}

@keyframes gradient {
    0% {
        background-position: 70% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
}

input {
    background-color: transparent;
    border: 0 0 2px 0;
    border-bottom-color: white;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border: 2px solid transparent;
}

input[type="text"],
input[type="email"] {
    color: aliceblue;
}

.button {
    padding: 10px 50px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
}